@page
@model POSPages.Pages.CartModel
<H1>Cart Total:   $@Model.Total</H1>

<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
				Item
				</th>
				<th>
				Price(e)
				</th>
				<th>
				Quantity
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var obj in Model.Items)
			{
				<tr>
					<td width="20%">@obj.Name</td>
				
					<td width="10%">$@obj.Price</td>
				<td width="5%">
					@obj.Quantity
				</td>
				</tr>	
			}
		</tbody>
	</table>
	<p>		
	<form method="post">
		<input type="submit" value="Delete" asp-page-handler="Delete" class="btn btn-primary" />
		<select name="target">
			@foreach (var obj in Model.Items)
			{
				<option value="@obj.Id">@obj.Name</option>

			}
		</select>	
	</form>
	<br />
	<br />
	<br />
	<form method="post">
		<input type="submit" value="Confirm Cart" class="btn btn-primary" />
	</form>
</p>
