@page
@model POSPages.Pages.CartModel
<H1>Cart Total:</H1>
<H1 style="text-align:right">$@Model.total</H1>
<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
				Item
				</th>
				<th>
				Quantity
				</th>
				<th>
				Price
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var obj in Model.Items)
			{
				<tr>
					<td width="20%">@obj.Name</td>
				<td width="50%">@obj.Quantity</td>
					<td width="10%">$@obj.Price</td>
				</tr>
			}

		</tbody>
	</table>