@page
@model POSPages.Pages.CartDropModel
@{


}
@functions{
        private void addToCartConfirmed()
        {
                    
        }
}
<h1>Add to Cart</h1>
<h4>Item</h4>
<hr />
@{ var obj = Model.Item;}
    <div class="row">
        <div class="col-md-4">
            <form method="post">
               
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Item.Id" />
                <div class="form-group">
                    @obj.Name
                </div>
                <div class="form-group">
                    @obj.Description
                </div>
                <div class="form-group">
                    @obj.Price
                </div>
                <div class="form-group">
                    <select asp-validation-for="quantity" class="text-danger">
                        <option value="1">Quantity</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                         <option value="4">Four</option>
                          <option value="5">Five</option>
                    </select>
        
                </div>
                <div class="form-group">
                    <input type="submit" value="Add to Cart" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>

<div>
    <a asp-page="./Menu">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

