@page
@model POSPages.Pages.CartDropModel
@{


}
@functions{
        private void addToCartConfirmed()
        {
                    
        }
}
<h1>Add to Cart</h1>
<h3>@Model.Item.Name</h3>
<hr />
@{ var obj = Model.Item;}
    <div class="row">
        <div class="col-md-4">
            <form method="post">
               
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Item.Id" />
                <div class="form-group">
                    @obj.Description
                </div>
                <div class="form-group">
                    Cost: $@obj.Price
                </div>
                <div class="form-group">
                    Quantity:
                    <select name="quant">                    
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add to Cart" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>

<div>
    <a asp-page="./Menu">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

