@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
}

@if(Model.logged){
    <h1>
        Welcome @Model.customerName Please begin Ordering.
        <br>
        <a class="btn btn-primary" asp-area="" asp-page="/Menu">Menu</a>
        <br>
        <a class="btn btn-primary" asp-area="" asp-page="/Cart">Cart</a>
    </h1>

}
@if (!Model.logged)
{
    <h1>
        Please login to Begin ordering!
        <br>
        <a class="btn btn-primary" asp-area="" asp-page="/Login">Login</a>
        <br>
        <a class="btn btn-primary" asp-area="" asp-page="/NewLogin">Create Login</a>
        
    </h1>

    
}

