@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All data is only temporarily saved and serves no purpose outside of operation of this website.
    <br />
    The Purpose of this site is to learn and exercise .net/restful/SQL skills as well as further improve them.
</p>
