html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
tbody {
    text-shadow: .5px .5px 1px black;
}
html {
  position: relative;
  min-height: 100%;
}
body{
    content: "";
    background-image: url(/css/img/images.jpg);
    background-size:  cover;
    opacity: 0.9;
}
table{
    background-color: white;
}

